@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h1{
    color: #f6f6f6;
}
h2{
    color: #f6f6f6;
}
p{
    color: #f6f6f6;
}

body{
    background-color: #0c0f16;
}

.text-test{
    color: #f6f6f6;
    margin-bottom: 20px;
    font-family: 'Ubuntu', 'sans-serif';
}

.max-width{
    max-width: 2000px;
    padding: 0 10px;
    margin: auto;
}

.navbar .logo a{
    color: #547ec7;
    font-size: 35px;
    font-weight: 500;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #121721;
    border-bottom: solid #1b202a 1px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}
section{
    padding: 50px 0;
}

.menu-btn{
    color:  #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.services .serv-conte{
    display: flex;
    margin: 15px;
    padding: 20px;
    justify-content: space-between ;
    flex-wrap: wrap; 

}
.services{
    margin-top: 15px;
    color:#fff;
    background-color: #0c0f16;
    font-family: 'Poppins', sans-serif;
    
}
.services .title{
    text-align: center;
    margin-bottom: 40px 0;
    font-weight: 400;
    font-size: 35px;
    
    align-items: center;
    justify-content: space-between;
}
.services .serv-conte .card{
    width: calc(33% - 20px);    
    background: #060837;
    text-align: center;
    border-radius: 15px;
    padding: 50px 25px;
    cursor: pointer;
}
.services .serv-conte .card:hover{
    background: #b02ab7;
    transition: all 0.3s ease;
}
.services .serv-conte .card i{
    font-size: 50px;
    color: #b02ab7;
    transition: all 0.3s ease;

}
.services .serv-conte .card:hover i{
    color: #fff;
    
}
.services .serv-conte .card .box{
    transition: all 0.3s ease;
}
.services .serv-conte .card:hover .box{
    transform:scale(1.05);
}
.services .serv-conte .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
@media(max-width:1104px){
    .about.premium-content .left img{
        width: 350px;
        height: 350px;
    }
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
}    
    .about .about-content .column{
        width: 100%;
    } 
    .about .aboout-content .column .left{
        display: flex; 
        justify-content: center;
        margin: 0 auto 60px;
    } 
    .about .about-content .column .right{
    flex: 100%;
    } 
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        background-color: #121721;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }
    .max-width{
        max-width: 930px;
    }
    .services .serv-conte .card{
        width: calc(50% -10px);
        margin-bottom: 20px;
       }  
      }
@media (max-width: 690px){
    .services .serv-conte .card{
        width: 100%;
    }
}   
.top{
    color: #fff;
    display: flex;
    background: url("img/banner_top_v5.jpg")no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.top .max-width{
    width: 100%;
    display: flex;
 }
.top .top-content .text-1{
    font-size: 25px;
}
.top .top-content .text-2{
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}
.top .top-content .text-3{
    font-size: 32px;
    margin: 5px 0;
}
.top .top-content a{
    display: inline-block;
    background: #b02ab7;
    font-size: 25px;
    padding: 12px 36px;
    color: #fff;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid #b02ab7;
    transition: all 0.3s ease;
     
}
.top .top-content a:hover{
    color: #b02ab7;
    background: none;
}
footer{
    background: #121721;
    padding: 25px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Popins' sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
footer span a{
    color: #547ec7;
}
footer span a:hover{
    color: #fff;
}
 /* Sobre empresa */
.about{
    color: #fff;
    background-color: #0c0f16;
    font-family: 'Poppins', sans-serif;
}
.about .title{
    text-align: center;
    margin:  50px ;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 35px;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: #121721;
    padding: 30px;
}
.about .about-content .left{
    width: 40%;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px ;
    
}
.about .about-content .right{
    width: 66%;
   
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.about .about-content .right p{
 text-align: justify;
}
.about .about-content .right a{
display: inline-block;
background:#b02ab7 ;
color: #fff;
font-size: 20px;
border-radius: 6px;
font-weight: 900;
padding: 10px 30px;
margin-top: 20px;
border-radius: 6px;
border: 2px solid #b02ab7;
transition: all 0,3s ease;
 
}
.about .about-content .right a:hover{
    color: #b02ab7;
    background: none;
}
@media(max-width: 1104px){
    .about .about-content .left img{
        width: 300px;
        height: 300px;
    }
    .about .about-content .right{
        padding-left: 0;
    }
}
    .about .about-content .right{
        flex: 100%;
    }

@media(max-width: 500px){
    .about .title{
        margin-top: 50px;
    }
}    
